<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Player data</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/playercss.css'%}">
</head>

<body>

	<br>

	<div class="container">

		<form method="get">
			<label for="pos-filter">Filter by position</label>
			<select id="pos-filter" name="pos-filter">
				<option>None</option>
				<option>PG</option>
				<option>SG</option>
				<option>C</option>
				<option>PF</option>
				<option>SF</option>
			</select>
			<input type="submit" name="btn-filter" value="Filter">
		</form>

		<table style="width: 100%;">
			<tr>
				<th>Name</th>
				<th>Jersey number</th>
				<th>Main position</th>
			</tr>

			{% if posfilter == 'None' %}
				{% for item in playerdata %}
				<tr>
					<td>{{item.name}}</td>
					<td>{{item.number}}</td>
					<td>{{item.main_position}}</td>
				</tr>
				{% endfor %}
				
			{%else%}
				{% for item in q1 %}
				<tr>
					<td>{{item.name}}</td>
					<td>{{item.number}}</td>
					<td>{{item.main_position}}</td>
				</tr>
				{%endfor%}
			{%endif%}
		</table>

	</div>

</body>

</html>